.topBar {
    display: flex;
    height: 60px;
    background-color: mediumpurple;
    align-items: center;
}

.flipPage {
    display: flex;
    align-items: center;
    margin-left: 44px;
}
.flipPage > div {
    display: flex;
    align-items: flex-end;
}
.flipPage > div > span {
    cursor: pointer;
}
.flipPage > div > span:nth-child(2) {
    margin: auto 15px;
}
.flipPage > div > span:nth-child(3) {
    margin-right: 10px;
}
.searchTab {
    display: flex;
    padding-left: 5px;
    align-items: center;
}
.searchTabInput {
    background-color: #393F70;
    border: none;
    outline: none;
    border-radius: 30px;
    width: 240px;
    height: 34px;
    text-indent: 14px;
    color: white;
    font-size: 16px;
    margin-right: 13px;
}
.searchTabInput::placeholder {
    color: #73789A;
    font-size: 12px;
}
.searchTabInput:focus::placeholder {
    color: transparent;
}

/*用户信息区*/
.customer {
    /*flex-grow: 1;*/
    margin-left: auto;
    background-color: pink;
    width: 200px;
}