* {
    margin: 0;
    padding: 0;
    background-color: inherit;
}
html, body {
    height: 100%;
    /*background-color: #242C63;*/
    background-image: url('../public/bg.jpg');
    background-size: cover;
    background-position: center;
}