.imageContainer {
    width: fit-content;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    position: relative;
    top: 0;
    transition: top .2s ease ;
}

.imageContainer:hover {
    top: -10px;
}
.imageContainer:hover .play {
    opacity: 1;
}
.image {
    border-radius: 10px;
}

.play {
    position: absolute;
    opacity: 0;
    transition: opacity .2s ease;
    background-color: transparent;
}
.play > span{
    /*background-color: red;*/
}